body {
    background:url(../images/denied.png) no-repeat;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    font-family: 'Lucida Grande',sans-serif;
    line-height: 1.5;
    text-align: center;
}

h2 {
    color: #ff9933;
}